@media screen and (max-width: 910px)
{
  #menu-toggle {
    display: inline-block !important;
  }

  .hamburger-menu {
    display: block !important;
  }

  .global-header { display: none;}

  .tablet-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    padding: 13px 8px;
    background: #171a21;
    text-align: center;
  }

  .tablet-logo {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 36px;
    height: 31px;
  }

  .login-container {
    padding-top: 150px;
  }

  .footer-content {
    display: none;
  }
}

@media screen and (max-width: 700px) {

  .page-content{
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat,
    url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask_mobile.jpg) center top no-repeat,
    #181A21;
  }

  .login-container {
    padding-top: 80px;
    padding-bottom: 0px;
  }

  .enter-message {
    text-align: center;
  }

  .login-formcontainer {
    min-width: 0px;
background-color: transparent;
  }

  .dialog-login-window {
    flex-direction: column;
  }

  .newinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 48px;
  }

  .newinfo-container {
    align-items: center;
  }

  .vector {
    display: none;
  }

  .newinfo-subttitle div {
    text-align: center;
  }

  .login-bottom {
    padding-top: 60px;
    flex-direction: column-reverse;
  }

}
