body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100%;
    color: #E9E9E9;
    background-color: #181A21;
    font-weight: normal;
    font-family: "Motiva Sans", Sans-serif;
}

.tablet-header {display: none;}

.global-header {
    background: #171a21;
    background-position: center top;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.header-content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
}

.logo {
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
}

.navbar {
  position: absolute;
  left: 200px;
}

.navbaritem {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
}


.actions {
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 401;
}

.actions-container {
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

.install-button {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

.install-button-content {
    background-color: #5c7e10;
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}

.install-button-content:hover, .enter-link:hover,
.pulldown:hover, .navbaritem:hover {
    text-decoration: none;
    color: #ffffff;
}

.enter-link {
    color: #b8b6b4;
    padding: 0 4px;
}

.pulldown {
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 18px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
}

.page-content {
    margin: 0 auto;
    padding: 0px 8px;
    width: 100%;
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat,
                url( 'https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg' )
                center top no-repeat, #181A21;
}

.login-container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
}

.login-window {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.enter-message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 16px;
    text-transform: uppercase;
    letter-spacing: .055em;
    font-weight: 200;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 32px;
    color: #fff;
}

.login-formcontainer {
    background-color: #181a21;
    border-radius: 4px;
    padding: 24px 32px;
    flex: 1;
    min-width: 636px;
}

.dialog-login-window {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.login-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    flex: 1;
}

.form-postscriptum {
    color: #afafaf;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.field-container {
    grid-template-areas: "label hint"
                       "input input";
    grid-template-columns: 1fr;
    gap: 2px;
}

.field-tittle {
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
    font-family: "Motiva Sans", Sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.remeber-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.box {
    width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 2px;
    background-color: #32353c;
    cursor: pointer;
}

.enter-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-button {
    width: 270px;
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
}

.enter-button:hover {
  background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.newinfo {
  display: grid;
  gap: 4px;
  margin-left: 24px;
}

.newinfo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.newinfo-tittle {
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0px;
    text-transform: uppercase;
    letter-spacing: .02em;
}

.newinfo-subttitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
}

.loginform-join-button{
  background-color: rgba(255,255,255,.1);
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 8px 16px;
}

.postscriptum {
  text-align: center;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #afafaf;
  padding: 12px 0px;
  cursor: pointer;
}

.login-bottom {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #181A21;
}

.login-bottom-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  text-align: center;
  flex-direction: column;
}

.about-link {
  max-width: 60%;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.about-link:hover {
  color: #66c0f4;
}

.joinsteam-button {
  margin: 20px 0 10px 0;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff !important;
  background: transparent;
}

.joinsteam-button:hover {
  text-decoration: none;
  border: 1px solid #fff;
  background: transparent;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 16px 0 60px 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #171a21;
}

.footer-content {
  width: 940px;
  margin: 0px auto;
  padding-top: 16px;
}

.footer-valvelogo {
  float: left;
  padding-top: 2px;
}

.footer-valvelogo img {
  height: 25px;
  width: auto;
}

.border {
  border-top: 1px solid #363c44;
  height: 8px;
}

.footer-text {
  float: left;
  margin-left: 12px;
  color: #8F98A0;
  font-size: 12px;
  line-height: 16px;
}

.footer-text a {
  color: #C6D4DF;
}

.footer-text a:hover, .valve-links a:hover {
  color: #ffffff;
}

.valve-links {
  margin-top: 8px;
  float: left;
  font-family: "Motiva Sans", "Sans-serif";
  font-weight: normal;
  font-size: 13px;
  color: #61686D;
}

.valve-links a {
  color: #C6D4DF;
}

.inputfield {
  word-wrap: break-word;
  white-space: pre;
  margin-top: 3px;
  width: 95%;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  background-color: #32353c;
  outline: none;
  font-size: 15px;
  grid-area: input;
  border: 1px solid #32353c;
}

.inputfield:hover {
  background-color: #393c44;
}

a {
  text-decoration: none;
}

main {
    color: #E9E9E9;
    background-color: #181A21;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}


::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-corner {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0,0,0,0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}


.page-overlay {
    visibility: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
    transition: visibility 0.5s, opacity 0.5s;
}
